extends template

block step
  .row
    .col.m4
      h5 Datos recibidos
      p Luego de que se termina el flujo en el formulario de pago recibiras los siguiente
    .col.m8
      pre.z-depth-2
        code.json
          | {
          |   'token_ws': '#{viewData.token}'
          | }
  .row
    .col.m8
      pre.z-depth-2
        code.js
          | //En el caso de Express
          | let token = request.body.token_ws;
          | let commitResponse = await WebpayPlus.Transaction.commit(token).catch(next);
    .col.m4
      h5 Petición
      p 
        | Usaras el token recibido para confirmar la transacción usando 
        | nuevamente <code>WebpayPlus</code>
  .row
    .col.m4
      h5 Respuesta
      p 
        | Transbank contestará con lo siguiente.
        | Debes guardar esta información, el <strong>único</strong> dato que debes validar es 
        | que <code>response_code</code> sea igual a cero.
    .col.m8
      pre.z-depth-2
        code.json= JSON.stringify(viewData.commitResponse, null, ' ')
  .row
    .col.m12
      h4 Listo !
      p Ya puedes mostrar al usuario una página de éxito de la transacción.
  .row
    .col.m12
      h5 Otras utilidades
      p 
        | Luego de confirmada la transacción puedes Reembolsar (reversar o anular) el 
        | pago dependiendo de ciertas condiciones comerciales. También puedes consultar el estado
        | de la transacción hasta 7 días después de realizada.
  .row
    .col.m4
      a.btn.waves-effect.waves-light.pink(href="/webpay_plus/status") Consultar estado
    .col.m4
      a.btn.waves-effect.waves-light.pink(href="/webpay_plus/refund") Reembolsar
    .col.m4
      a.btn.waves-effect.waves-dark.white.black-text(href="/") Volver al inicio



