extends ../layout
block content
  .row
    .col.m12.center-align
      img(src='/images/oneclick.png', height=100)
  .row
    .col.s12.m12
      h4 #{step}
      p #{stepDescription}
  block step
  block actions
  .row(style="margin-top: 80px")
    .col.m12
      a.btn.waves-effect.waves-dark.white.black-text(href="/") Volver al inicio
      a.btn.waves-effect.waves-dark.white.black-text(href="javascript:history.back();" style="margin-left: 10px;") Volver a atrás
      
