extends template

block step
  .row
    .col.m4
      h5 Petición
      p
        | Una vez que ya tenemos el <code>username</code> y el <code>tbk_user</code> podemos autorizar
        | transacciones en la tarjeta inscrita.
    .col.m8
      pre.z-depth-2
        code.json
          | const Oneclick = require('transbank-sdk').Oneclick; // CommonJS
          | import { Oneclick } from 'transbank-sdk'; // ES6 Modules
          |
          | const details = [new TransactionDetail(amount, childCommerceCode, childBuyOrder)];
          |
          | // Es necesario ejecutar dentro de una función async para utilizar await
          | const options = new Options(IntegrationCommerceCodes.ONECLICK_MALL_DEFERRED, IntegrationApiKeys.WEBPAY, Environment.Integration);
          | const resp = await (new Oneclick.MallTransaction(options)).authorize(
          |   username, 
          |   tbkUser, 
          |   details
          | );
  .row
    .col.m8
      pre.z-depth-2
        code.json= JSON.stringify(viewData.resp, null, ' ')
    .col.m4
      h5 Respuesta
      p Una vez autorizada la transacción, estos serán los datos de respuesta

  .row
    .col.m12
      h4 Listo !
      p Ya puedes mostrar al usuario una página de éxito de la transacción.

block actions
  .row
    .col.m12
      h4 Casi listo !
      p 
        | Ya puedes mostrar al usuario una página de éxito de la transacción.
        | Debes tener en cuenta que la transacción aun no ha sido capturada solo ha 
        | sido retenido el saldo en la tarjeta del Tarjetahabiente

  include ../deferred/deferred-options.pug
